<section class="container-fluid p-2">
    <section class="row w-100">
        <div class="col-md-2" id="folders">
            <ul class="list-group">
                <% for (let i in folders) { %>
                    <li class="list-group-item"><b><%= folders[i].name %></b>
                        <ul class="list-group list-group-flush">
                            <% for (let ii in folders[i].notes) { %>
                                <li class="list-group-item"><%= folders[i].notes[ii] %></li>
                            <% } %>
                            <li class="list-group-item"><button class="btn btn-sm btn-primary">Add note</button></li>
                        </ul>
                    </li>
                <% } %>
                <li class="list-group-item">
                    <button class="btn btn-sm btn-primary">Add folder</button>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <%- include('./textarea.ejs') -%>
        </div>
    </section>
</section>

<!-- <li class="list-group-item"></li> -->