<section class="container-fluid p-2">
    <!-- CONTAINER -->
    <section class="row">
        <!-- ROW -->
        <div class="col-md-3" id="folders">
            <!-- ALL FOLDERS -->

            <!-- Example Accordion 1 -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        School
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">School</li>
                            <li class="list-group-item">Homework</li>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>

            
        </div>
        <div class="col-md-9">
            Hi
        </div>
    </section>
</section>