<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('components/imports.ejs') -%>
</head>
<body class="">
    <header>
        <%- include('components/header.ejs') -%>
    </header>
    <main class="main" id="main">
        <%- include('components/main.ejs') -%>
    </main>
    <footer id="footer" class="footer">
        <%- include('components/footer.ejs') -%>
    </footer>
</body>
</html>