/* .ql-snow .ql-stroke {
    stroke: white !important;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: white !important;
} */
.bg-dark {
    background-color: #202020 !important;
}

.bg-dark-alt {
    background-color: #242424 !important;
}

div {
    word-wrap: break-word;
}

.dark-icons {
    stroke: white !important
}

.dark-icons-fill {
    fill: white !important;
}

.ql-editor::before {
    color: lightgrey !important
}


#editor-container {
    height: 88vh
}